<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kids for Christ - Registration Success</title>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
    <form action="/addEditUser"method="post">
        <div class="row">
            <div class="col-md-2 register-left">
                <img src="/cfc-kfc-logo.jpg" alt="Kids for Christ"/>
                <p class="kfc-quote">Children are a real gift from the Lord. They are a real blessing.(Psalm 127:3)</p>
                <p></p>
            </div>
            <div class="col-md-10 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="registration-success">Successfully Registered the following details:</div>
                        <div class="registration-success-event"><a href="/kfc/event/sr-camp-registration">Sign up for KFC Sr. Camp</a></div>
                        <h3 class="register-heading">Child Information</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group"><p th:text="'Full name: ' + ${child.full_name}"/></div>
                                <div class="form-group"><p th:text="'Preferred name: ' + ${child.preferred_name}"/></div>
                                <div class="form-group"><p th:text="'Birth date: ' + ${child.getBirthDateHumanReadable()}"/></div>
                                <div class="form-group"><p th:text="'Baptism date: ' + ${child.getBaptismDateHumanReadable()}"/></div>
                                <div class="form-group"><p th:text="'First communion date: ' + ${child.getFirstCommunionDateHumanReadable()}"/></div>
                                <div class="form-group"><p th:text="'Confirmation date: ' + ${child.getConfirmationDateHumanReadable()}"/></div>
                                <div class="form-group"><p th:text="'Gender: ' + ${child.gender}"/></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><p th:text="'Allergies: ' + ${child.allergies}"/></div>
                                <div class="form-group"><p th:text="'Medical needs: ' + ${child.medical_needs}"/></div>
                                <div class="form-group"><p th:text="'Hobbies: ' + ${child.hobbies}"/></div>
                            </div>
                        </div>
                        <hr size="2"/>
                        <h3 class="register-heading">Parent Information</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group"><p th:text="'Full name: ' + ${parent.fullName}"/></div>
                                <div class="form-group"><p th:text="'Email: ' + ${parent.email}"/></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><p th:text="'Mobile No: ' + ${parent.mobileNo}"/></div>
                                <div class="form-group"><p th:text="'Facebook Account: ' + ${parent.facebookAccount}"/></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>